<!-- AWQOT_ADMIN_REGISTER_UNIT -->
<dialog id="awqot_admin_register_unit" class="modal">
  <div class="modal-overlay"></div>
  <div class="modal-shell">
    <header class="modal-header">
      <div class="modal-header-row">
        <h3 class="modal-title">Peringatan</h3>
      </div>
    </header>
    <div class="modal-content">
      <p>Sedang mendaftarkan alat Awqot. Harap Tunggu.</p>
    </div>
  </div>
</dialog>
<!-- /AWQOT_ADMIN_REGISTER_UNIT -->