.button {
  user-select: none;
  -moz-user-select: none;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  padding: 0;
  min-height: 2.5rem;
  text-decoration: none;
}

.button:focus,
.button:hover {
  outline: none;
}

.list-view-item .button {
  height: 3.5rem;
  min-width: 3.5rem;
  justify-content: center;
}

.list-view-item .button:hover {
  background-color: rgba(0, 0, 0, .05);
}

.list-view-item .button:active {
  background-color: rgba(0, 0, 0, .1);
}

.menu .button {
  justify-content: flex-start;
  height: 3rem;
  width: 100%;
}

/* .modal-header .button {
  padding: 0;
} */

.modal-header .button:hover,
.modal-footer .button:hover,
.modal-header .button:focus,
.modal-footer .button:focus {
  background-color: rgba(0, 0, 0, .075);
}

.modal-header .button:active,
.modal-footer .button:active {
  background-color: rgba(0, 0, 0, .125);
}

.modal-content:first-child + .modal-footer .modal-footer-right .button {
  border-top-left-radius: .4rem;
}

.modal-content:first-child + .modal-footer .modal-footer-left .button {
  border-top-right-radius: .4rem;
}

.page-header .button:hover {
  background-color: rgba(255, 255, 255, .1);
}

.page-header .button:active {
  background-color: rgba(255, 255, 255, .2);
}

.box-content .list-view-item .button,
.modal-content .list-view-item .button {
  height: 3.5rem;
  min-width: 3.5rem;
}

.button .text {
  font-weight: 500;
  color: #000000;
  margin-right: .5rem;
  margin-top: 2.5px;
}

.button .text:first-child {
  margin-left: .5rem;
}

.list-view-item .button .text {
  font-size: .9rem;
}

.menu .button .text {
  margin-right: .75rem;
}

.modal-footer .button .text {
  margin-right: .75rem;
}

.button.danger .text {
  color: #D32F2F;
}

.button.danger svg path:last-child {
  fill: #D32F2F;
}

.button.outline {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: .4rem;
}

.button.outline:hover {
  background-color: rgba(0, 0, 0, .05);
}

.button.outline:active {
  background-color: rgba(0, 0, 0, .075);
}

.button.primary .text {
  color: #1E88E5;
}

.button.primary:hover .text {
  color: #1565C0;
}

.button.primary svg path:last-child {
  fill: #1E88E5;
}

.button.primary:hover svg path:last-child {
  fill: #1565C0;
}

.button.primary.solid {
  background-color: #1E88E5;
  border-radius: .4rem;
}

.button.primary.solid:focus,
.button.primary.solid:hover {
  background-color: #1565C0;
}

.button.primary.solid:disabled {
  background-color: #999;
}

.button.primary.solid .text,
.button.primary.solid svg path:last-child {
  color: #FFFFFF;
  fill: #FFFFFF;
}

.button.button.primary.outline {
  border: 1px solid #64B5F6;
}

.button.secondary,
.button.secondary {
  opacity: .75;
}

.button.small {
  min-width: 2.5rem;
}
