.button-fab {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  height: 3rem;
  min-width: 3rem;
  padding: 0;
  border: none;
  border-radius: 3rem;
  color: #FFFFFF;
  background-color: #1B5E20;
  box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),
  0 3px 14px 2px rgba(0,0,0,0.12),
  0 5px 5px -3px rgba(0,0,0,0.2);
}

.button-fab:hover,
.button-fab:focus {
  outline: none;
  background-color: #388E3C;
}

.button-fab:active {
  background-color: #1B5E20;
  transform: scale(.96);
  box-shadow: 0 4px 9px 1px rgba(0,0,0,0.14),
  0 2px 7px 1px rgba(0,0,0,0.12),
  0 2px 2px -1px rgba(0,0,0,0.2);
}

.button-fab.secondary {
  bottom: 5.75rem;
  right: 1.5rem;
  height: 3rem;
  background-color: #424242;
}

.button-fab.secondary:hover,
.button-fab.secondary:focus {
  outline: none;
  background-color: #424242;
}

.button-fab.secondary.danger {
  background-color: #C62828;
}

.button-fab.secondary.danger:hover,
.button-fab.secondary.danger:focus {
  background-color: #E53935;
}

.button-fab .text {
  font-weight: 500;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .button-fab {
    right: calc(calc(50% - 320px) - 5rem);
  }
  .button-fab.secondary {
    right: calc(calc(50% - 320px) - 4.75rem);
  }
}

/* LEGACY */

.fab {
  cursor: pointer;
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  height: 3.5rem;
  width: 3.5rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  color: #FFFFFF;
  background-color: hsl(128, 64%, 36%);
  background-color: #1B5E20;
  box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),
  0 3px 14px 2px rgba(0,0,0,0.12),
  0 5px 5px -3px rgba(0,0,0,0.2);
}

.fab:hover,
.fab:focus {
  outline: none;
  background-color: #212121;
}

.fab:active {
  background-color: #424242;
  transform: scale(.96);
  box-shadow: 0 4px 9px 1px rgba(0,0,0,0.14),
  0 2px 7px 1px rgba(0,0,0,0.12),
  0 2px 2px -1px rgba(0,0,0,0.2);
}

.fab.secondary {
  bottom: 5.75rem;
  right: 1.5rem;
  height: 3rem;
  width: 3rem;
  background-color: #212121;
}

@media (min-width: 640px) {
  .fab {
    right: calc(calc(50% - 320px) - 5rem);
  }
  .fab.secondary {
    right: calc(calc(50% - 320px) - 4.75rem);
  }
}

.fab .icon {
  height: 3.5rem;
  width: 3.5rem;
}

.fab.secondary .icon {
  height: 3rem;
  width: 3rem;
}

.fab .icon svg {
  height: 2.25rem;
  width: 2.25rem;
}

.fab.secondary .icon svg {
  height: 1.5rem;
  width: 1.5rem;
}

.fab .icon svg path:last-child {
  fill: #FFFFFF;
}
