.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button .icon {
  margin-left: .5rem;
  margin-right: .25rem;
}

.button .icon:last-child {
  margin-right: .5rem;
}

.page-header .button .icon,
.modal-header .button .icon {
  margin: 0;
}

.button-fab .icon {
  padding: 0 .5rem 0 .75rem;
}

.list-view-item .button .icon {
  width: 1.5rem;
  margin-left: .25rem;
  margin-right: .125rem;
}

.list-view-item .button .icon:last-child {
  margin-right: .25rem;
}

.menu .button .icon {
  margin: 0 .5rem 0 .75rem;
}

.page-header .icon {
  height: 3.5rem;
  width: 3.5rem;
}

.modal-header .button .icon {
  height: 3rem;
  width: 3rem;
}

.modal-content .list-view-item .button .icon {
  min-width: 2rem;
}

.modal-footer .button .icon {
  width: 1.5rem;
  margin-left: .75rem;
  margin-right: .375rem;
}

/* SVG CONTENT*/
.icon svg {
  height: inherit;
  width: inherit;
}

.icon.positive svg {
  fill: #66BB6A;
}

.icon.small {
  height: 1.25rem;
  width: 1.25rem;
}

.button .icon svg {
  height: 1.5rem;
  width: 1.5rem;
}

.page-header .icon svg {
  height: 1.75rem;
  width: 1.75rem;
}

.button-fab .icon svg {
  height: 2rem;
  width: 2rem;
}

.button-fab.secondary .icon svg {
  height: 1.5rem;
  width: 1.5rem;
}

.field-input-addons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
}

.modal-content .list-view-item .button .icon:last-child svg {
  height: 1.5rem;
  width: 1.5rem;
}

.modal-footer .button .icon svg {
  height: 1.5rem;
  width: 1.5rem;
}

.modal-header .button .icon svg {
  height: 2rem;
  width: 2rem;
}

.list-view-item .button .icon svg {
  height: 1.25rem;
  width: 1.25rem;
}

.page-header .button .icon svg path:last-child {
  fill: #FFFFFF;
}

.button-fab .icon svg path:last-child {
  fill: #FFFFFF;
}
