<!-- MATERI_PLAYER_PROMPT -->
<dialog id="materi_player_prompt" class="modal">
  <div class="modal-overlay"></div>
  <form class="modal-shell" method="post">
    <div class="modal-content">
      <input type="hidden" name="action" value="audios_play">
      <p>Jalankan materi di perangkat?</p>
    </div>
    <footer class="modal-footer">
      <div class="modal-footer-left">
        <button type="button" class="button secondary" onclick="ev.publish('modal:close', { dialog: materi_player_prompt });">
          <span class="icon">
            <?php include __DIR__ . "/../static/icons/round-close-24px.svg" ?>
          </span>
          <span class="text">Batal</span>
        </button>
      </div>
      <div class="modal-footer-right">
        <button type="button" class="button secondary" onclick="ev.publish('materi_player:play_on_device');">
          <span class="icon">
            <?php include __DIR__ . "/../static/icons/round-smartphone-24px.svg" ?>
          </span>
          <span class="text">Smartphone</span>
        </button>
        <button type="button" class="button primary" onclick="ev.publish('materi_player:play_on_awqot');">
          <span class="icon">
            <?php include __DIR__ . "/../static/icons/round-speaker-24px.svg" ?>
          </span>
          <span class="text">Awqot</span>
        </button>
      </div>
    </footer>
  </form>
</dialog>
<!-- /MATERI_PLAYER_PROMPT -->

<!-- AUDIOS_PLAYER -->
<dialog id="materi_player" class="modal">
  <div class="modal-overlay"></div>
  <div class="modal-shell">
    <div class="modal-content">
      <div class="field">
        <div class="field-input" style="align-items: center;">
          <input id="materi_player_slider" type="range" min="0" max="100" value="0">
          <span style="display: block; margin-left: .5rem;">
            <span id="materi_player_currenttime"></span>/
            <span id="materi_player_duration"></span>
          </span>
        </div>
      </div>
    </div>
    <footer class="modal-footer">
      <div class="modal-footer-left"></div>
      <div class="modal-footer-right">
        <button type="button" class="button danger" onclick="ev.publish('materi_player:stop')">
          <span class="icon">
            <?php include __DIR__ . "/../static/icons/round-stop-24px.svg" ?>
          </span>
          <span class="text">Berhenti</span>
        </button>
      </div>
    </footer>
  </div>
</dialog>
<!-- /AUDIOS_PLAYER -->
