.menu {
  position: relative;
  height: 0;
  width: 0;
  top: 1rem;
  right: 8.5rem;
  z-index: 9;
}

.menu-list {
  position: relative;
  height: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 100px;
  border-radius: .4rem;
  overflow: hidden;
  transition-property: height;
  transition-duration: 300ms;
}

.menu.active .menu-list {
  height: unset;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),
    0 8px 10px 1px rgba(0,0,0,.14),
    0 3px 14px 2px rgba(0,0,0,.12);
}

.menu-item {
  background-color: #FFFFFF;
}

.active-menu-shield {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 8;
}
