.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: rgba(0, 0, 0, .5);
  border: none;
  z-index: 1;
}

.modal-shell {
  display: flex;
  flex-direction: column;
  width: 96vw;
  width: calc(100% - 2rem);
  max-width: 480px;
  max-height: 90%;
  max-height: calc(100% - 2rem);
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .4rem;
}

.modal-header {
  user-select: none;
  -moz-user-select: none;
}

.modal.bordered .modal-header {
  border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.modal-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.modal-title {
  user-select: none;
  -moz-user-select: none;
  margin: 0 .75rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.modal-content {
  overflow-x: auto;
}

.modal-content>p {
  margin: 1rem .75rem;
  line-height: 1.25;
}

.modal-content:first-child>p {
  font-size: 1.125rem;
  line-height: 1.5;
}

.modal-footer {
  user-select: none;
  -moz-user-select: none;
  display: flex;
  justify-content: space-between;
  min-height: 3rem;
}

.modal.bordered .modal-content:not(:first-child)+.modal-footer {
  border-top: 1px solid rgba(0, 0, 0, .15);
}

.modal-footer-left {
  display: flex;
  justify-content: flex-start;
}

.modal-footer-right {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 640px) {
  
}
