.notification {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 1rem .5rem;
  background-color: rgba(0, 0, 0, .05);
  border-radius: .4rem;
  line-height: 1.25;
  font-size: 1.05rem;
  color: #212121;
}

.page-content .notification {
  box-sizing: border-box;
  max-width: 640px;
}

.list-view .notification {
  flex: 1;
  margin: 0 .75rem .75rem;
  padding: .75rem;
  font-size: .95rem;
  color: #424242;
}

.notification.positive {
  background-color: #C8E6C9;
  color: #1B5E20;
  fill: #1B5E20;
}

.notification .text:not(:first-child) {
  margin-left: .5rem;
}

@media (min-width: 640px) {
  .page-content .notification {
    margin: auto;
  }
}
