/* === === === TABLE BASE === === === */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
  height: 3rem;
}

.table > thead > tr > th {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
  background-color: #fafafa;
  font-weight: 500;
}

.box-content > .table > thead > tr > th:last-child,
.box-content > .table > tbody > tr > td:last-child,
.box-content > .table > tfoot > tr > td:last-child {
  padding-right: 1rem;
}

.box-content > .table > thead > tr > th:first-child,
.box-content > .table > tbody > tr > td:first-child,
.box-content > .table > tfoot > tr > td:first-child {
  padding-left: 1rem;
}

.box-content:first-child > .table:first-child > thead > tr:first-child > th {
  border-top: none;
}

.table > thead > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 0 1rem;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.box-content > table.table > thead:last-child > tr:last-child > td,
.box-content > table.table > tbody:last-child > tr:last-child > td,
.box-content > table.table > tfoot:last-child > tr:last-child > td {
  border-bottom: none;
}

.table > thead > tr > th:first-child,
.table > tbody > tr > td:first-child,
.table > tfoot > tr > td:first-child {
  padding-left: 1.25rem;
  border-left: none;
}

.table > thead > tr > th:last-child,
.table > tbody > tr > td:last-child,
.table > tfoot > tr > td:last-child {
  padding-right: 1.25rem;
  border-right: none;
}

/* === === === TABLE ATTRIBUTES === === === */

.table.clickable > tbody > tr {
  cursor: pointer;
}

.table.clickable > tbody > tr:hover {
  background-color: #f5f5f5;
}

.table.hoverable > tbody > tr:hover {
  background-color: #f5f5f5;
  color: #212121;
}

.table.bordered > tbody > tr > td,
.table.bordered > tfoot > tr > td,
.table.bordered > thead > tr > th {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}


/* .table.rounded > thead > tr:first-child > th:first-child,
.table.rounded > tbody:first-child > tr:first-child > td:first-child {
  border-top-left-radius: .4rem;
}
.table.rounded > thead > tr:first-child > th:last-child,
.table.rounded > tbody:first-child > tr:first-child > td:last-child {
  border-top-right-radius: .4rem;
}
.table.rounded > tfoot > tr:last-child > td:first-child,
.table.rounded > tbody:last-child > tr:last-child > td:first-child {
  border-bottom-left-radius: 1rem;
}
.table.rounded > thead > tr:last-child > td:last-child,
.table.rounded > tbody:last-child > tr:last-child > td:last-child {
  border-bottom-right-radius: 1rem;
} */

/* NOTE: max-width is required in each column */
.table.ellipsis > tbody > tr > td,
.table.ellipsis > tfoot > tr > td,
.table.ellipsis > thead > tr > th {
  white-space: nowrap;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.ellipsis,
th.ellipsis {
  white-space: nowrap;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* === === === CELL ATTRIBUTES === === === */

.table > tbody > tr > td.emptyinfo {
  height: 9rem;
  font-size: 0.9rem;
  line-height: 1.25;
  background-color: #f5f5f5;
  text-align: center;
  font-style: italic;
  white-space: unset;
}

.table > tbody > tr > td.numeric {
  text-align: right;
  font-variant-numeric: tabular-nums;
}
